{% extends 'basic.html' %}

{% block content %}

<style>
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    
    img {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-6">
        <h1 class="text-center">Formulário</h1>
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="mt-5">
                <div class="row">
                    <h3 class="w-100 text-center" >Coeficientes do sistema dinâmico</h3>
                </div>
                {{system}}
            </div>        
        
            <div class="mt-5">
                <div class="row">
                    <h3 class="w-100 text-center">Coeficientes do Compensador (Atraso, Avanço e Atraso e Avanço)</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="comp_enabler" id="comp_enabler" value="on" checked>
                    </div>
                </div>

                {{compensator}}
        
            </div>
        
            <div class="mt-5">
                <div class="row">
                    <h3 class="text-center" >Coeficientes do Controlador PID</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="pid_enabler" id="pid_enabler" value="on">
                    </div>
                    {{pid}}
                </div>
            </div>
            
            <div class="row mt-5">
                <input class="btn btn-primary" type="submit">
            </div>
        </form>
    </div>

    <div class="col-6">
        <div class="d-flex flex-column justify-content-center">
            <h1 class="text-center">{{ type }}</h1>

            <img src='data:image/png;base64,{{ step_response }}'>
            <img src='data:image/png;base64,{{ pzmap }}'>
            <img src="data:image/png;base64,{{ lgr }}">
            <img src='data:image/png;base64,{{ step_response_comp }}'>
            <img src='data:image/png;base64,{{ pzmap_comp }}'>
            <img src="data:image/png;base64,{{ lgr_comp }}">
        </div>
    </div>

    <script>
        let pid_enabler = document.getElementById('pid_enabler');
        let comp_enabler = document.getElementById('comp_enabler');
        let pid = [document.getElementById('id_kp'), document.getElementById('id_ki'), document.getElementById('id_kd')];
        let comp = [document.getElementById('id_dencomp'), document.getElementById('id_numcomp')];
    
        pid_enabler.onclick = function(){
            
            for(let it of pid){
                it.disabled = !pid_enabler.checked;
                it.required = pid_enabler.checked;
            }
        
        }

        comp_enabler.onclick = function(){

            for(let it of comp){
                it.disabled = !comp_enabler.checked;
                it.required = comp_enabler.checked;
            }
        }
    </script>
</div>

{%endblock%}