{% extends 'basic.html' %}

{% block content %}

<div class="row">
    <div class="col-6">
        <h3>Formulário</h3>
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="mt-5">
                <div class="row">
                    <h3 class="w-100 text-center" >Coeficientes do sistema dinâmico</h3>
                </div>
                {{system}}
<!--                 
                <div class="form-group row">
                    <label for="ampdg">Amplitude: </label>
                    <input type="text" class="form-control" id="ampdg" name="ampdg"><br><br>
                </div>
                <div class="form-group row">
                    <label for="num">Numerador </label>
                    <input type="text" class="form-control" name="num" id="num"><br><br>
                </div>
                
                <div class="form-group row">
                    <label for="den">Denominador</label>
                    <input type="text" class="form-control" name="den" id="den"><br><br>
                </div> -->
            </div>
        
        
        
        
            <div class="mt-5">
                <div class="row">
                    <h3 class="w-100 text-center">Coeficientes do Compensador (Atraso, Avanço e Atraso e Avanço)</h3>
                </div>

                {{compensator}}
        
                <!-- <div class="form-group row">
                    <label for="numcomp"> Numerador </label>
                    <input id="numcomp" class="form-control" type="text" name="numcomp">
                </div>
        
                <div class="form-group row">
                    <label for="dencomp"> Denominador </label>
                    <input id="dencomp" class="form-control" type="text" name="dencomp">
                </div> -->
            </div>
        
            <div class="mt-5">
                <div class="row">
                    <h3 class="w-100 text-center" >Coeficientes do Controlador PID</h3>
                </div>
                
                <!-- <div class="form-group row">
                    <label for="kp">Ganho Proporcional</label>
                    <input id="kp" class="form-control" type="text" name="kp">
                </div>
        
                <div class="form-group row">
                    <label class="col-form-label" for="ki">Ganho Integral</label>
                    <input id="ki" class="form-control" type="text" name="ki">
                </div>
                
                <div class="form-group row">
                    <label class="col-form-label" for="kd">Ganho Derivativo</label>
                    <input id="kd" class="form-control" type="text" name="kd">
                </div> -->

                {{pid}}
            </div>
            
            <div class="row mt-5">
                <input class="btn btn-primary" type="submit">
            </div>
            
        </form>
    </div>

    <div class="col-6">

        <h3>{{ type }}</h3>

        <!-- <label>Função de transferência do sistema sem Compensador:</labe>
        <pre>
            {{System}}
        </pre> -->
        <img src='data:image/png;base64,{{ step_response }}'>
        <img src='data:image/png;base64,{{ pzmap }}'>

        <!-- <label>Função de transferência do sistema com Compensador:</label>
        <pre>{{SystemComp}}</pre> -->
        <!-- 
        <label>Função de transferência do Compensador:</label>
        <pre>{{Comp}}</pre> -->

        <img src='data:image/png;base64,{{ step_response_comp }}'>
        <img src='data:image/png;base64,{{ pzmap_comp }}'>
    </div>
</div>

{%endblock%}