{% extends 'basic.html' %}

{% block content %}


<form action="add" method="POST">
    {% csrf_token %}
    <h1>Entrada</h1>
    Amplitude: <input type="text" name="ampdg"><br><br>

    <h1>Coeficientes do sistema dinâmico</h1>
    numerador: <input type="text" name="num1"><br><br>
    denominador: <input type="text" name="num2"><br><br>

    <h1>Coeficientes do Compensador (Atraso, Avanço e Atraso e Avanço)</h1>
    numerador: <input type="text" name="numcomp"><br><br>
    denominador: <input type="text" name="dencomp"><br><br>
    <input type="submit">

    <h1>Coeficientes do Controlador PID</h1>
    Ganho Proporcional: <input type="text" name="kp"><br><br>
    Ganho Integral: <input type="text" name="ki"><br><br>
    Ganho Derivativo: <input type="text" name="kd"><br><br>
    <input type="submit">
    
</form>






<canvas id="myChart" width="100" height="100"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{lista}},
        datasets: [{
            label: '# of Votes',
            data: {{labels}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}